__pycache__/
*.pyc
.venv/
venv/
.env

data/raw/*
data/processed/*
data/synthetic/*
models/weights/*
*.pth
*.pt
*.onnx

.vscode/
.idea/
.DS_Store

# Root-level ISRO Datasets and Test Images
*.img
*.xml
*.lbl
*.zip
*.png
*.jpg